<div class="ng-wheel-rotate-container"
     ngWheelRotate
     [debounce]="wheelRotateControls.debounce.value"
     [delay]="wheelRotateControls.delay.value"
     [disabled]="wheelRotateControls.disabled.value === 'true'"
     [activeAxis]="wheelRotateControls.wheelRotateAxis.value"
     (onWheelRotate)="onWheelRotate($event)">
  <div class="ng-wheel-rotate-container__title">
    <span>ngWheelRotate</span>
    <img src="https://img.icons8.com/fluency/96/000000/wheel.png" alt="ngWheelRotate"/>
  </div>
  <div class="ng-wheel-rotate-container__helper-text">
    - Try rotating mouse wheel or two fingers scroll using touchpad to see wheel rotate event
  </div>
  <div class="ng-wheel-rotate-container__body">
    <div class="table">
      <div class="table-title">● Inputs</div>
      <div class="table-head">
        <div class="column">Debounce (ms)</div>
        <div class="column">Delay (ms)</div>
        <div class="column">Disabled (boolean)</div>
        <div class="column">Active Axis</div>
      </div>
      <div class="table-body">
        <div class="column">
          <input type="number" [min]="0" [formControl]="wheelRotateControls.debounce">
        </div>
        <div class="column">
          <input type="number" [min]="0" [formControl]="wheelRotateControls.delay">
        </div>
        <div class="column">
          <select [formControl]="wheelRotateControls.disabled">
            <option [value]="false">False (listen to event)</option>
            <option [value]="true">True (stop events emission)</option>
          </select>
        </div>
        <div class="column">
          <select [formControl]="wheelRotateControls.wheelRotateAxis">
            <option [value]="wheelRotateAxis.BOTH">{{wheelRotateAxis.BOTH}}</option>
            <option [value]="wheelRotateAxis.HORIZONTAL">{{wheelRotateAxis.HORIZONTAL}}</option>
            <option [value]="wheelRotateAxis.VERTICAL">{{wheelRotateAxis.VERTICAL}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="table three-column">
      <div class="table-title">● Output</div>
      <div class="table-head">
        <div class="column">Direction</div>
        <div class="column">Source</div>
        <div class="column">Axis</div>
      </div>
      <div class="table-body">
        <div class="column">{{($wheelRotateEvent | async)?.direction || '-'}}</div>
        <div class="column">{{($wheelRotateEvent | async)?.source || '-'}}</div>
        <div class="column">{{($wheelRotateEvent | async)?.axis || '-'}}</div>
      </div>
    </div>
  </div>
</div>
